<section
  class="container mx-auto px-10 md:px-20 lg:px-32 xl:px-40 max-w-full md:max-w-full"
>
  <div class="w-full md:w-10/12 lg:w-9/12 xl:w-10/12 mx-auto mt-10 md:mt-20">
    <h2
      class="text-white text-2xl md:text-xl lg:text-2xl xl:text-3xl tracking-wide leading-relaxed text-center"
    >
      Hello, saya adalah seorang Backend dan Frontend Web Developer
    </h2>
  </div>
  <div class="w-full md:w-8/12 lg:w-6/12 mx-auto mt-4">
    <p
      class="text-slate-300 md:text-sm lg:text-base xl:text-lg leading-relaxed text-center"
    >
      Saya tertarik pada Web Development sejak kuliah dan hingga saat ini masih
      mempelajari banyak hal mengenai Web Development
    </p>
  </div>
  <div class="text-center mt-16 md:mt-20 lg:mt-28 leading-relaxed">
    <a
      href="#"
      class="text-blue-500 border-transparent bg-yellow-400 hover:bg-transparent hover:text-yellow-400 hover:border-2 hover:border-yellow-400 hover:shadow-lg hover:transition-all hover:ease-in rounded-full px-6 py-2 md:px-6 md:py-2 lg:px-8 lg:py-2 inline-block"
      >Download CV</a
    >
  </div>
</section>
