<section class="container mx-auto px-40">
  <div class="w-10/12 mx-auto mt-20">
    <h2 class="text-white text-3xl tracking-wide leading-relaxed text-center">
      Hello, saya adalah seorang Backend dan Frontend Web Developer
    </h2>
  </div>
  <div class="w-6/12 mx-auto mt-4">
    <p class="text-slate-300 text-lg leading-relaxed text-center">
      Saya tertarik pada Web Development sejak kuliah dan hingga saat ini masih
      mempelajari banyak hal mengenai Web Development
    </p>
  </div>
  <div class="text-center mt-28 leading-relaxed">
    <a
      href="#"
      class="text-blue-500 border-transparent bg-yellow-400 hover:bg-transparent hover:text-yellow-400 hover:border-2 hover:border-yellow-400 hover:shadow-lg hover:transition-all hover:ease-in rounded-full px-8 py-2 inline-block"
      >Download CV</a
    >
  </div>
</section>
