<section class="container bg-hero bg-left-bottom h-[700px]">
  <!-- section navbar -->
  <section class="flex mx-auto px-40 py-8">
    <!-- brand logo -->
    <div
      class="w-3/12 uppercase text-2xl font-semibold tracking-widest text-white"
    >
      <a href="#">Profile</a>
    </div>

    <!-- main menu -->
    <div
      class="w-6/12 flex text-lg tracking-wider space-x-10 justify-center py-3"
    >
      <a href="#" class="text-slate-300 hover:text-white">Home</a>
      <a href="#about" class="text-slate-300 hover:text-white">About</a>
      <a href="#skills" class="text-slate-300 hover:text-white">Skills</a>
      <a href="#contact" class="text-slate-300 hover:text-white">Contact</a>
    </div>

    <!-- button contact -->
    <div class="w-3/12 text-right">
      <a
        href="#contact"
        class="text-yellow-400 border-2 border-yellow-400 hover:text-blue-500 hover:border-transparent hover:bg-yellow-400 hover:shadow-lg hover:transition-all hover:ease-in rounded-full px-8 py-2 inline-block"
        >Contact Me</a
      >
    </div>
  </section>

  <!-- section hero -->
  <%- include('_hero') %>
</section>
